ControlMachine=localhost
SlurmctldPort=6817
SlurmdPort=6818
AuthType=auth/munge
FastSchedule=1
JobCompType=jobcomp/filetxt
SchedulerType=sched/backfill
SelectType=select/linear
SlurmUser=root
SlurmctldTimeout=300
SlurmdSpoolDir=/tmp/slurmd.spool
SlurmdTimeout=300
StateSaveLocation=/tmp/slurm.state
SlurmctldDebug=3
SlurmctldLogFile=/var/log/slurm-llnl/slurmctld.log
SlurmdDebug=3
SlurmdLogFile=/var/log/slurm-llnl/slurmd.log
NodeName=localhost CPUs={{ ansible_processor_vcpus }} State=UNKNOWN
PartitionName=debug Nodes=localhost Default=YES MaxTime=INFINITE State=UP
